[tool.pylint.main]

[tool.pylint.design]
max-args = 15
max-attributes = 27

[tool.pylint.basic]
no-docstring-rgx = "^_"

[tool.pylint.format]
max-line-length = 200

[tool.pylint.refactoring]
max-nested-blocks = 10
